body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    /* background-color: #333;
    color: #fff; */
    padding: 36px;
    text-align: center;
    gap:  8px;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[name="query"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    width: 272px;
    border: 1px solid #808080;
    margin-right: 8px;
}
input:hover{
    border: 1px solid #000000; 
}
input.pressed{
    border: 1px solid #4E75FF; 
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    line-height: 24px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #4E75FF;
    color: #FFFFFF;
}
.button:hover{
    background-color: #6C8CFF;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.gallery-item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.info {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.loader {
    text-align: center;
    padding: 20px;
}